* {
  box-sizing: border-box;
}

body {
  margin: 0;
  padding: 0;
  font-family: "Arvo", serif;
}

.header {
  overflow: hidden;
  background-color: #da0037;
}

.header a:hover {
  color: #ededed;
}

.header__logo {
  height: 60px;
  width: auto;
  float: left;
  padding-left: 5px;
  padding-top: 2px;
}

.header__nav {
  display: block;
  float: left;
  padding-left: 870px;
}

.header__nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.header__nav li {
  float: left;
}

.header__nav li a {
  display: inline-block;
  text-align: center;
  text-decoration: none;
  padding: 16px 16px;
  color: #171717;
  font-size: 20px;
}

.header__search {
  float: left;
  padding: 5px 2px 5px 2px;
  font-size: 30px;
}
