*{
    box-sizing: border-box;
}
body{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.header{
    overflow: hidden;
    background-color: #dfdfdf;
}

.header a {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 18px 16px;
    text-decoration: none;
    font-size: 20px;
  }
  
  .header a:hover {
    color: #f57e1c;
    text-decoration: underline;
  }

  .header .search {
    float: left;
    display: block;
    color: black;
    text-align: center;
    padding: 16px 16px;
    font-size: 20px;
  }

.logo{
    height: 60px;
    width: auto;
    float: left;
    padding-left: 5px;
    padding-top: 2px;
}

.extra{
    float: right;
}